<style>
.message-content{
  font-size: 20px;
  line-height: 30px;
}
</style>

<div class="message-content">
  <h1>Hello!!! <%= @data.name %></h1>
  <p>To reset your password click on the link below</p>
  <p><a href="<%= @data.url %>">Reset Password</a></p>
</div>
